
.description{
	display: flex;
	/* margin: 0px  0px 30px 0px; */
}
.description__avatar{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.description__avatar img{
	width: 250px;
	height: 250px;
	text-align: center;
	object-fit: cover;
	margin: -80px 0px 0px 0px;
	border: 5px solid rgba(230, 238, 234, 1);
	background-color: #fff;
	box-shadow: 10px 10px 20px 0px rgba(34, 60, 80, 0.1);
}
.description__info{
	margin: 0px 0px 0px 50px;
}
.description__list{
	min-height: 127px;
}
.description__item{
	font-size: 15px;
	padding: 5px 0px;
}
.description__item_c{
	padding: 5px 0px 0px 15px;
}
.description__itemActive{
	display: flex;
	align-items: center;
	margin: -10px 0px;
}
.description__itemActive b{
	width: 120px;
}
.description__formItem{
	margin: 5px 0px;
}
.description__formItem_m{
	margin: 0px 0px 10px 0px;
}
.description__formItem input{
	font-size: 13px;
	width: 340px;
	padding:10px 15px;
	margin: 10px 0px;
	border: 1px solid rgba(0, 0, 0, 0.171);
}
.description__formCheckbox input{
	width: 30px;
	height: 15px;
}
.description__formItem textarea{
	font-size: 14px;
	width: 450px;
	height: 50px;
	padding:15px 15px;
	margin: 10px 0px;
	border: 1px solid rgba(0, 0, 0, 0.171);
	background-color: #fff;
}
.description__formItemCheckbox{
	display: flex;
	align-items: center;
	text-align: center;
}
.description__label{
	margin: 0px 0px 3px 0px;
}
.description__formItem_s{
	margin: 0px 0px 20px 0px;
}
.description__name input{
	margin: 0px 0px 10px 0px;
	width: 450px;
	padding:10px 25px;
	border: 1px solid rgba(0, 0, 0, 0.171);
}
.description__status{
	display: block;
	margin: 10px 0px 10px 110px;
	font-family: italic;
	font-size: 18px;
}
.description__statusInput{
	padding: 5px 15px;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin: 2px 0px 2px 0px;
	width: 300px;
}
.description__files{
position: relative;
width: 240px;
margin: 15px auto 0px auto;
}
.description__input{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	font-size: 0;
}
.description__btn{
	cursor: pointer;
	display: inline-flex;
	color:#fff;
	width: 100%;
	border-radius: 5px;
	justify-content:center;
	align-items: center;
	background-color: hsla(246, 73%, 26%, 0.938);
	padding: 10px 10px;
}
.description__btnInfo{
	width: 200px;
	margin: 14px 0px;
}